<!-- <div class="container" > -->
<!-- <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutAlign.xs="center" class="footer">
    <div fxFlex="40%">
        category
        <ul>
            <li>
                <a href="#">pratapNagar</a>
            </li>
            <li>
                SurajPole
            </li>
            <li>
                Thoker chouraha
            </li>
            <li>
                Debari
            </li>
        </ul>
    </div>
    <div fxFlex="40%">
        Newslater
        <p>
            Keep up on our always evolving product features and technology.
            Enter your e-mail and subscribe to our newsletter.

        </p>
        <mat-form-field style="margin-top:10px" appearance="outline" class="later">
                <input matInput placeholder="Email" type="text" style="color:white">
            </mat-form-field>
            <button mat-raised-button>Go</button>
        
    </div>
    <div>
        Contact us
        <p>
            <mat-icon>location_on</mat-icon>
            <strong>Address</strong>: 3rd Floor, Mehta Sadan,Durga Nursary Road, Near Sukhadia Memorial,Udaipur
        </p>
        <p>
            <mat-icon>phone</mat-icon>
            <strong>Phone</strong>: 0294-2413542
        </p>
        <p>
            <mat-icon>email</mat-icon>
            <strong>Mail</strong>: raj@gmail.com
        </p>


    </div>

</div> -->
<!-- <div fxFlex fxLayout="column" fxLayoutAlign="center" >
     <p>hi</p>
   </div> -->
<!-- </div> -->

   <!-- Footer -->
   <hr>
<footer class="page-footer font-small unique-color-dark" >

    
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">About Us</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            Our web development services aims at executing dynamic applications that would meet the growing business needs on the web.
            Our technical capabilities allow us to deliver development of every complexity: from simple scripts to complex applications.
          </p>
  
        </div>
        <!-- Grid column -->
  
        
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Linkedin</a>
          </p>
          <p>
            <a href="#!">Our Website</a>
          </p>
          <p>
            <a href="#!">Feedback</a>
          </p>
        
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mat-icon>location_on</mat-icon> UDAIPUR, NY 10012, INDIA</p>
          <p>
            <mat-icon>email</mat-icon> info@example.com</p>
          <p>
            <mat-icon>phone</mat-icon> + 01 234 567 88</p>
          
           
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a > Alpha Developers</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->