<!-- <mat-sidenav-container
    id="sidenavContainer"
   fullscreen>
    <mat-sidenav
      mode="side"
      #sidenav
      id="sidenav"
      [class.menu-open]="isMenuOpen"
      [class.menu-close]="!isMenuOpen"
      opened>
      
      <mat-list id="menus">
        <mat-card>
          <mat-card-header>
            <div 
              mat-card-avatar 
              class="avatar"></div>
  
            <mat-card-title>Rajveer </mat-card-title>
            <mat-card-subtitle style="color:white">{{this.authservice.email}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-list-item>
          <button 
          class="menu-item"
            mat-flat-button>
            <mat-icon>dashboard</mat-icon>
          <strong>Dashboard</strong></button>
        </mat-list-item>
  
        <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button [routerLink]="[ 'product' ]">
              <mat-icon>shopping_cart</mat-icon>
              <strong>Products</strong>
            </button>
          </mat-list-item>
  
          <mat-list-item>
              <button 
              class="menu-item"
                mat-flat-button>
                <mat-icon>settings_application</mat-icon>
              <strong>settings</strong></button>
            </mat-list-item>
  
      </mat-list>
    </mat-sidenav>
  
    <mat-sidenav-content
    [ngStyle]="{ 'margin-left.px': contentMargin }">
    <mat-toolbar id="mainToolbar" class="toolbar">
      <mat-icon
        (click)="onToolbarMenuToggle()"
        id="toolbarMenu">menu</mat-icon>
      Admin Panel
      <span class="toolbar-spacer"></span>
      
      <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="onLogout()">Log out</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
    
    <button mat-icon-button  >
      <mat-icon>settings_application</mat-icon>
    </button>
    <mat-icon
        class="toolbar-icon"
        matBadge="2"
        matBadgePosition="after"
        matBadgeColor="accent"
      >notifications</mat-icon>
    </mat-toolbar>
     
    </mat-sidenav-content>
  </mat-sidenav-container>
  <router-outlet></router-outlet> -->

<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" [opened]="opened" #sidenav>
        <!-- <mat-list id="menus"> -->
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="avatar"></div>

                <mat-card-title>{{name}}</mat-card-title>
                <mat-card-subtitle style="color:white">{{email}}</mat-card-subtitle>
            </mat-card-header>

        </mat-card>
        <!-- <mat-divider></mat-divider> -->
        <mat-list-item>
            <li class="list-style" disableRipple mat-menu-item [routerLink]="[ 'dashboard' ]" routerLinkActive="active">
                <mat-icon class="item-icon">dashboard</mat-icon>
                <strong class="item">Dashboard</strong>
            </li>
        </mat-list-item>

        <mat-list-item>
            <li class="list-style" disableRipple mat-menu-item [routerLink]="[ 'addrooms' ]" routerLinkActive="active">
                <mat-icon class="item-icon">home_work</mat-icon>
                <strong class="item">Add Rooms</strong>
            </li>
        </mat-list-item>

        <mat-list-item>
            <li class="list-style" mat-menu-item disableRipple [routerLink]="[ 'billstatus' ]"
                routerLinkActive="active">
                <mat-icon class="item-icon">payment</mat-icon>
                <strong class="item">Bill Status</strong>
            </li>
        </mat-list-item>

        <mat-list-item>
            <li class="list-style" mat-menu-item disableRipple [routerLink]="[ 'map' ]" routerLinkActive="active">
                <mat-icon class="item-icon">location_on</mat-icon>
                <strong class="item">Track</strong>
            </li>
        </mat-list-item>

        <!-- <mat-list-item>
              <li 
              style="margin-top: 10px;"
                mat-flat-button 
                disableRipple [routerLink]="[ 'map' ]"> 
                <mat-icon class="item-icon">location_on</mat-icon>
              <strong class="item">Track</strong></li>
            </mat-list-item> -->

        <!-- </mat-list> -->

    </mat-sidenav>
    <mat-sidenav-content style="background-color: #EEE;">
        <mat-toolbar color="primary" class="toolbar">
            <mat-toolbar-row>
                <button mat-icon-button disableRipple (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span>Admin Panel</span>
                <div fxFlex fxLayout="row" fxLayoutAlign="flex-end center">
                    <ul fxLayout="row" fxLayoutGap="20px">
                        <button mat-button (click)="onLogout()" disableRipple style="   position: relative;
            top: 8px;">
                            <mat-icon>input</mat-icon> <b> Log out</b>
                        </button>
                    </ul>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>