.mat-dialog-container{
    padding: 0px !important;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .borderstyle{
    height: 2px;
    background-color: #0093e4;
    display: inline-block;
    width: 50px;
    position: relative;
    bottom: 20px;

}