/* p{
    margin-top:80px;
} */
.img-cls{
  height:auto;
  width: 100%;
  max-width: 100%;
}
:focus{
    outline: none !important;
}
.borderstyle{
    height: 2px;
    background-color: #0093e4;
    display: inline-block;
    width: 50px;
    position: relative;
    bottom: 20px;

}
.property-view__amenity{
    color:#525f7f;
    font-family: 'trueno-l';
    font-size: 0.9rem;
}
.property-view__ic{
    width: 20px;
    margin-right: 5px;
}

.btnstyle{
    background-color: white;
    border:1px solid  #2dce89;
    color: #2dce89;
    margin-left:5px;
}
.btnstyle:hover{
    background-color:  #2dce89;
    color:white
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color:#2dce89 !important;
}

mat-form-field{
    /* color: #2dce89 !important; */
    outline-color: #2dce89 !important;
}
.mybtnstyle{
    background-color: #0093e4;
    color:white;
}
.mybtnstyle:hover{
    position: relative;
    top:3px;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #2DCE89 !important;
}
.mat-datepicker-content.mat-warn .mat-calendar-body-selected{
    background-color: #2DCE89 !important;
}
.pstyle{
    color: #525F7F;
    font-size: 1.1rem;
}
.bstyle{
    font-weight: 100;
    color: #0093E4;
    background-color: rgba(203,210,246,0.5);
}
raised-button.mat-warn{
    background-color: #2DCE89 !important;
}
.paybtn{
    margin-left:10px;
    margin-top: 10px;
    background-color: #0093e4 !important;
    color:white !important
}
.title{
    color: #2DCE89 !important;
}
.field{
    margin-left:15px;
}
.fs-style{
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}
.fs-substyle{
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;

}