<div class="container-fluid" class="home">
    <div class="col-12">

        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="carousel-caption">
                    <h4>Great Indian Sale....</h4>
                </div>
                <img src="../../assets/taj.jpg" alt="image" class="img-cls">

            </ng-template>
            <ng-template ngbSlide>
                <img src="../../assets/taj1.jpg" alt="image" class="img-cls">
                <div class="carousel-caption">
                    <h4>50% off....</h4>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../assets/room.jpg" alt="image" class="img-cls">
                <div class="carousel-caption">
                    <h4>50% off....</h4>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../assets/room1.jpg" alt="image" class="img-cls">
                <div class="carousel-caption">
                    <h4>50% off....</h4>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
   
    <div>
        
      <h3 style="text-align: center;margin-top:30px">What We Do!</h3>
      <mat-divider></mat-divider>
      <p class="txt">
        Hii we provides the room, flat and house on the rent around the city. Here you can book the room
        and pay also for advance.Our sytem makes to easy when anyone in trouble for finding room in city.
      </p>
   </div>
</div>