.img-cls
{
  height:auto;
  width: 100%;
  max-width: 100%;

}
.home{
    margin-top:80px;
    margin-bottom:25px
}
::ng-deep .carousel-item {
    display: block !important;
    position: absolute;
    transform: translateX(100%);
    opacity: 0;
    transition:all 1s;
    }
::ng-deep .carousel-item.active {
    position: relative;
    transform: translateX(0);
    opacity: 1;
    top: 0;
    }
    ::ng-deep .carousel-control-next{
      cursor: pointer !important;
  }
  ::ng-deep .carousel-control-prev{
    cursor: pointer !important;
}
:focus{
    outline: none;
}
.txt{
    text-align: justify;
    margin: 20px;
}
