.toolbar{

    background: rgb(35, 47, 62);
        position: fixed;
        z-index: 1000;
        top:0;
    
    }
    .icon{
        position: relative;
        right: 81px;
        top: 20px;
        font-size: 29px;
    }
    h5{
        font-size: 19px;
        position: relative;
        left: 11px;
        bottom: 18px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    span{
        position: relative;
        left: -10px;
       
        width: fit-content;
    }
    /* .myimage:hover{
        width:210px;
       
    } */
    .myimage{
        height: 136px;
        max-width:103%;
        position: relative;
        top: 10px;
    
    }
    mat-card{
        width: fit-content;
        
        margin-top:10px
    }
    b{
        color:#B12704!important
    }
    :focus{
        outline: none !important;
    }
    .mycard:hover{
        position: relative;
        top:5px;
    }
    /* ::ng-deep 
        .carousel-item {
            outline: none !important;
        }
      
        .carousel-i
        tem.active {
            outline: none !important;
        }  */
    
    
            
    ::ng-deep .carousel-item {
        display: block !important;
        position: absolute;
        transform: translateX(100%);
        opacity: 0;
        transition:all 1s;
        }
    ::ng-deep .carousel-item.active {
        position: relative;
        transform: translateX(0);
        opacity: 1;
        top: 0;
        }
        ::ng-deep .carousel-control-next{
          cursor: pointer !important;
      }
      ::ng-deep .carousel-control-prev{
        cursor: pointer !important;
    }
    
    .img-cls{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 180px;
        width: 23%;
    }
    
    .mybtn{
        position: relative;
        top: 80px;
        left: 16px;
    }
    