<mat-card >
    <mat-card-title>{{ editMode ? 'Update':'Add'}}</mat-card-title>
    
      <form [formGroup]="myform" (ngSubmit)="onAdd()">
      
        <mat-form-field  appearance="outline">
          <mat-label>Location</mat-label>
          <input matInput 
          type="text" 
          name="location"
          formControlName="location"
          [ngModel]="location"
          ngModel
          >
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Contact</mat-label>
          <input matInput
           name="contact" 
           type="text"
          formControlName="contact"
          [ngModel]="contact"
          ngModel
          >
        </mat-form-field><br>
        <mat-form-field appearance="outline" >
            <mat-label>Price</mat-label>
            <input matInput
             type="number"
             name="price"
            formControlName="price" 
            [ngModel]="price"
            ngModel>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="description" 
            name="description"
            formControlName="description"
            [ngModel]="description"
            ngModel
            ></textarea>
          </mat-form-field><br>
          
          
          <mat-form-field appearance="outline">
            <mat-label>Product Image</mat-label>
            <ngx-mat-file-input 
            placeholder="Basic Input"
            name="image"
            formControlName="image"
            (change)="changeEvent($event)"
            ngModel
           
            ></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
          </mat-form-field><br>

          
        
          
        <button mat-raised-button color="warn" type="submit">{{ editMode ? 'Update':'Add'}}</button>
        <button mat-raised-button color="primary" type="button" (click)="onCancel()" class="btn">cancel</button>
  
      </form>
   
   
  </mat-card>   
